{% extends "layout.html" %}

{% block title %}Elokuvan muokkaus{% endblock %}


{% block content %}
<h2>{{ movie.title }}</h2>
<h3>Elokuvan muokkaus</h3>

<form action="/update_movie" method="post">
  <p>
    <label for="title">Elokuvan nimi:</label> <br />
    <input type="text" name="title" id="title" value="{{ movie.title }}" maxlength="90" required />
  </p>
  <p>
    <label for="year">Elokuvan julkaisuvuosi:</label> <br />
    <input type="text" name="year" id="year" size="5" value="{{ movie.year }}" pattern="[1-9][0-9]{0,3}" required />
  </p>
  <p>
    <label for="grade">Arvosana elokuvasta (1-10):</label> <br />
    <input type="text" name="grade" id="grade" size="1" value="{{ movie.grade }}" pattern="[1-9]|10" required />
  </p>
  <p>
    <label for="recommendation">Suositusteksti:</label> <br />
    <textarea name="recommendation" id="recommendation" rows="8" cols="60" maxlength="500" required>{{ movie.recommendation }}</textarea>
  </p>
  <input type="hidden" name="movie_id" value="{{ movie.id }}" />

  <p>
    <label for="genres">Genret:</label> <br />
  <select name="genres" id="genres" multiple>
    <option value="">(valitse)</option>
    {% for genre in all_genres %}
      {% if genre in genres %}
        <option value="genre:{{ genre }}" selected>{{ genre }}</option>
      {% else %}
        <option value="genre:{{ genre }}">{{ genre }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <p>(Pidä Ctrl(Windows)/Cmd(Mac) pohjassa valitaksesi useita vaihtoehtoja)</p>
  </p>

  <p>
    <label for="age_limit">Ikäraja:</label> <br />
  <select name="age_limit" id="age_limit">
    <option value="">(valitse)</option>
    {% for age_limit in all_age_limits %}
      {% if age_limit in age_limits %}
        <option value="ikäraja:{{ age_limit }}" selected>{{ age_limit }}</option>
      {% else %}
        <option value="ikäraja:{{ age_limit }}">{{ age_limit }}</option>
      {% endif %}
    {% endfor %}
  </select>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Tallenna muutokset" />
</form>

<p>
  <a href="/movie/{{ movie.id }}">Takaisin elokuvaan</a>
</p>
{% endblock %}
