<!DOCTYPE html>
<html>

<head>
  <title>Elokuvan muokkaus</title>
</head>

<body>
  <h1>Elokuvan muokkaus</h1>
  <form action="/update_movie" method="post">
    <p>
      Elokuvan nimi: <br />
      <input type="text" name="title" value="{{ movie.title }}"/>
    </p>
    <p>
      Elokuvan julkaisuvuosi: <br />
      <input type="text" name="year" size="5" value="{{ movie.year }}"/>
    </p>
    <p>
      Suositusteksti: <br />
      <textarea name="recommendation" rows="8" cols="60">{{ movie.recommendation }}</textarea>
    </p>
    <input type="hidden" name="movie_id" value="{{ movie.id}}" />
    <input type="submit" value="Päivitä suositusta" />
  </form>
</body>

</html>
