{% extends "layout.html" %}

{% block title %}Etsi elokuva{% endblock %}


{% block content %}
<h2>Etsi elokuva</h2>

<form action="/find_movie" method="get">
  <p>
    <label for="query">Hakusana:</label>
    <input type="text" name="query" id="query" value="{{ query }}">
  </p>
  <p class="help-text">Voit etsiä elokuvia nimen tai arvostelun/suosituksen perusteella.</p>

  {% if advanced %}
  <p>
    <label for="min_year">Vuosiväli:</label>
    <input type="number" name="min_year" id="min_year" min="1" class="small-input" placeholder="alkaen" value="{{ min_year }}">
    –
    <input type="number" name="max_year" id="max_year" min="1" max="2025" class="small-input" placeholder="asti" value="{{ max_year }}">
  </p>

  <p>
    <label for="min_grade">Arvosana vähintään:</label>
    <input type="number" name="min_grade" id="min_grade" min="1" max="10" class="small-input" value="{{ min_grade }}">
  </p>

  <p>
    <label for="genres">Genret:</label> <br />
    <select name="genres" id="genres" multiple>
      <option value="">(valitse)</option>
      {% for genre in all_genres %}
        {% if genre in genres %}
          <option value="genre:{{ genre }}" selected>{{ genre }}</option>
        {% else %}
          <option value="genre:{{ genre }}">{{ genre }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </p>
  <p class="help-text">(Pidä Ctrl(Windows)/Cmd(Mac) pohjassa valitaksesi useita vaihtoehtoja)</p>

  <p>
    <label for="age_limit">Ikäraja:</label> <br />
    <select name="age_limit" id="age_limit">
      <option value="">(valitse)</option>
      {% for age_limit in all_age_limits %}
        {% if age_limit in age_limits %}
          <option value="ikäraja:{{ age_limit }}" selected>{{ age_limit }}</option>
        {% else %}
          <option value="ikäraja:{{ age_limit }}">{{ age_limit }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </p>

  <p>
    <label for="username">Lisääjä:</label>
    <input type="text" name="username" id="username" value="{{ username }}">
  </p>
  {% endif %}
  <input type="hidden" name="advanced" value="{{ advanced | default(0) }}">
  <input type="submit" value="Hae">
</form>

{% if not advanced %}
<p>
  <form action="/find_movie" method="get">
    <input type="hidden" name="query" value="{{ query }}">
    <input type="hidden" name="genres" value="{{ genres }}">
    <input type="hidden" name="age_limit" value="{{ age_limits }}">
    <input type="hidden" name="min_year" value="{{ min_year }}">
    <input type="hidden" name="max_year" value="{{ max_year }}">
    <input type="hidden" name="min_grade" value="{{ min_grade }}">
    <input type="hidden" name="username" value="{{ username }}">
    <input type="hidden" name="advanced" value="1">
    <button type="submit">Näytä lisähaku</button>
  </form>
</p>
{% else %}
<p>
  <form action="/find_movie" method="get">
    <input type="hidden" name="query" value="{{ query }}">
    <input type="hidden" name="genres" value="{{ genres }}">
    <input type="hidden" name="age_limit" value="{{ age_limits }}">
    <input type="hidden" name="min_year" value="{{ min_year }}">
    <input type="hidden" name="max_year" value="{{ max_year }}">
    <input type="hidden" name="min_grade" value="{{ min_grade }}">
    <input type="hidden" name="username" value="{{ username }}">
    <button type="submit">Piilota lisähaku</button>
  </form>
</p>
{% endif %}

{% if query or genres or min_year or max_year or min_grade or age_limits or username %}
<h3>Tulokset</h3>

{% if results %}
  <ul>
    {% for movie in results %}
    <li><a href="/movie/{{ movie.id }}">{{ movie.title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>Ei tuloksia</p>
{% endif %}
{% endif %}
{% endblock %}
