{% extends "layout.html" %}

{% block title %}Etsi elokuva{% endblock %}


{% block content %}
<div class="movie-form">
  <h2>Etsi elokuva</h2>

  <form action="/find_movie" method="get">

    <label for="query">Hakusana:</label>
    <input type="text" name="query" id="query" value="{{ query }}">

    <p class="help-text">
      Voit etsiä elokuvia nimen, ohjaajan, kielen tai näyttelijöiden perusteella
    </p>

    {% if advanced %}
    <div class="advanced-search">
    <h3>Lisähaku</h3>

    <p>
      <label for="min_grade">Arvosana vähintään:</label>
      <input type="number" name="min_grade" id="min_grade" min="1" max="10" class="small-input" value="{{ min_grade }}">
    </p>

    <p>
      <label for="min_year">Vuosiväli:</label>
      <input type="number" name="min_year" id="min_year" min="1" class="small-input" placeholder="alkaen" value="{{ min_year }}">
      –
      <input type="number" name="max_year" id="max_year" min="1" max="2025" class="small-input" placeholder="asti" value="{{ max_year }}">
    </p>

    <p>
      <label for="genres">Genret:</label>
      <select name="genres" id="genres" multiple>
        <option value="">(valitse)</option>
        {% for genre in all_genres %}
          {% if genre in genres %}
            <option value="genre:{{ genre }}" selected>{{ genre }}</option>
          {% else %}
            <option value="genre:{{ genre }}">{{ genre }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </p>

    <p class="help-text">
      (Pidä Ctrl(Windows)/Cmd(Mac) pohjassa valitaksesi useita vaihtoehtoja)
    </p>

    <p>
      <label for="age_limit">Ikäraja:</label>
      <select name="age_limit" id="age_limit">
        <option value="">(valitse)</option>
        {% for age_limit in all_age_limits %}
          {% if age_limit in age_limits %}
            <option value="ikäraja:{{ age_limit }}" selected>{{ age_limit }}</option>
          {% else %}
            <option value="ikäraja:{{ age_limit }}">{{ age_limit }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </p>

    <p>
      <label for="username">Lisääjä:</label>
      <input type="text" name="username" id="username" value="{{ username }}">
    </p>

    </div>
    {% endif %}

    <input type="hidden" name="advanced" value="{{ advanced | default(0) }}">
    <input type="submit" value="Hae">
  </form>

  {% if not advanced %}
    <form action="/find_movie" method="get">
      <input type="hidden" name="query" value="{{ query }}">
      <input type="hidden" name="genres" value="{{ genres }}">
      <input type="hidden" name="age_limit" value="{{ age_limits }}">
      <input type="hidden" name="min_year" value="{{ min_year }}">
      <input type="hidden" name="max_year" value="{{ max_year }}">
      <input type="hidden" name="username" value="{{ username }}">
      <input type="hidden" name="advanced" value="1">
      <button type="submit">Näytä lisähaku</button>
    </form>
  {% else %}
    <form action="/find_movie" method="get">
      <input type="hidden" name="query" value="{{ query }}">
      <input type="hidden" name="genres" value="{{ genres }}">
      <input type="hidden" name="age_limit" value="{{ age_limits }}">
      <input type="hidden" name="min_year" value="{{ min_year }}">
      <input type="hidden" name="max_year" value="{{ max_year }}">
      <input type="hidden" name="username" value="{{ username }}">
      <button type="submit">Piilota lisähaku</button>
    </form>
  {% endif %}
</div>

  {% if query or genres or min_grade or min_year or max_year or age_limits or username %}
  <div class="movie-form">
    <h3>Tulokset</h3>
    <p>Löytyi {{ total_results }} elokuvaa (sivu {{ page }} / {{ page_count }})</p>

    {% if results %}
      <div class="movie-list">
        {% for movie in results %}
        <div class="movie-item">
          <a href="/movie/{{ movie.id }}" class="movie-title" >{{ movie.title }}</a>
          <p>Lisääjä: <a href="/user/{{ movie.user_id }}/1" class="movie-creator">{{ movie.username }}</a></p>
          <p>Arvostelujen määrä: {{ movie.review_count }}</p>
        </div>
        {% endfor %}
      </div>

      <p>
  {% if page > 1 %}
    <a href="/find_movie?query={{ query }}&min_grade={{ min_grade }}
    &min_year={{ min_year }}&max_year={{ max_year }}&username={{ username }}
    &advanced={{ advanced }}&genres={{ genres }}&age_limit={{ age_limits }}
    &page={{ page - 1 }}">&lt;&lt;</a>
  {% endif %}

  Sivu {{ page }} / {{ page_count }}

  {% if page < page_count %}
    <a href="/find_movie?query={{ query }}&min_grade={{ min_grade }}
    &min_year={{ min_year }}&max_year={{ max_year }}&username={{ username }}
    &advanced={{ advanced }}&genres={{ genres }}&age_limit={{ age_limits }}
    &page={{ page + 1 }}">&gt;&gt;</a>
  {% endif %}
</p>
    {% else %}
      <p>Ei tuloksia</p>
    {% endif %}
    {% endif %}
  </div>
{% endblock %}
