{% extends "layout.html" %}

{% block title %}Elokuvan kuvat - {{ movie.title }}{% endblock %}


{% block content %}
<h2>{{ movie.title }}</h2>
<h3>Elokuvan kuvat</h3>

<form action="/remove_images" method="post">
  {% if posters | count == 1 %}
    <p>Elokuvassa on 1 kansikuva.</p>
  {% else %}
    <p>Elokuvassa on {{ posters | count }} kansikuvaa.</p>
  {% endif %}

  {% for poster in posters %}
    <img src="/poster/{{ poster.id }}"/>
    <input type="checkbox" name="poster_id" value="{{ poster.id }}">
  {% endfor %}


  {% if images | count == 1 %}
    <p>Elokuvassa on 1 muu kuva.</p>
  {% else %}
    <p>Elokuvassa on {{ images | count }} muuta kuvaa.</p>
  {% endif %}

  {% for image in images %}
    <img src="/image/{{ image.id }}"/>
    <input type="checkbox" name="image_id" value="{{ image.id }}">
  {% endfor %}

  <input type="hidden" name="movie_id" value="{{ movie.id }}">
  <p>
    <input type="submit" value="Poista valitut" />
  </p>
</form>


<h4>Lisää uusi kuva</h4>
<form action="/add_image" method="post" enctype="multipart/form-data">
  <p>
    Kansikuva: <input type="file" name="poster" accept=".jpg" />
  </p>
  <p>
    Muita kuvia: <input type="file" name="image" accept=".jpg" />
  </p>
  <input type="hidden" name="movie_id" value="{{ movie.id }}"/>
  <input type="submit" value="Lähetä" />
</form>

<p>
  <a href="/movie/{{ movie.id }}">Takaisin elokuvaan</a>
</p>
{% endblock %}
