<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <header>
    <h1>Leffakone</h1>
  </header>


  {% if session.user_id %}
  <div class="user-info">
    <p>
      Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    </p>
  </div>
  {% endif %}

  <div class="navbar">
    <p>
      <a href="/">Etusivu</a> |
      <a href="/find_movie">Etsi elokuva</a> |
    {% if session.user_id %}
      <a href="/new_movie">Lisää elokuva</a> |
      <a href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Luo tunnus</a>
    {% endif %}
    </p>
  </div>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  <div class="container">
    {% block content %}{% endblock %}
  </div>

</body>

</html>
