{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}


{% block content %}
<h2>Kirjaudu sisään</h2>

<div class="login-box">
  <form action="/login" method="post">
    <div class="form-group">
      <label for="username">Tunnus:</label>
      <input type="text" name="username" id="username" required />
    </div>

    <div class="form-group">
      <label for="password">Salasana:</label>
      <input type="password" name="password" id="password" required />
    </div>

    <input type="submit" value="Kirjaudu" class="login-button" />

    <p class="register-link">
      Eikö sinulla ole vielä tunnusta?
      <a href="/register">Rekisteröidy</a>
    </p>
  </form>
</div>
{% endblock %}
