<!DOCTYPE html>
<html>

<head>
  <title>Uusi elokuvasuositus</title>
</head>

<body>
  <h1>Uusi elokuva</h1>
  <form action="/create_movie" method="post">
    <p>
      Elokuvan nimi: <br />
      <input type="text" name="title" maxlength="90" required />
    </p>
    <p>
      Elokuvan julkaisuvuosi: <br />
      <input type="text" name="year" size="5" pattern="[1-9][0-9]{0,3}" required />
    </p>
    <p>
      Suositusteksti: <br />
      <textarea name="recommendation" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      Genre: <br />
      <select name="genre">
        <option value="">(valitse)</option>
        <option value="comedy">komedia</option>
        <option value="drama">draama</option>
        <option value="musical">musikaali</option>
        <option value="fantasy">fantasia</option>
        <option value="scifi">scifi</option>
        <option value="romance">rakkaus</option>
        <option value="horror">kauhu</option>
        <option value="thriller">jännitys</option>
        <option value="action">toiminta</option>
        <option value="adventure">seikkailu</option>
        <option value="crime">rikos</option>
        <option value="documentary">dokumentti</option>
        <option value="western">lännenelokuva</option>
      </select>
    </p>
    <input type="submit" value="Luo suositus" />
  </form>
  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>
</body>

</html>
