<!DOCTYPE html>
<html>

<head>
  <title>Uusi elokuvasuositus</title>
</head>

<body>
  <h1>Uusi elokuva</h1>
  <form action="/create_movie" method="post">
    <p>
      Elokuvan nimi: <br />
      <input type="text" name="title" maxlength="90" required />
    </p>
    <p>
      Elokuvan julkaisuvuosi: <br />
      <input type="text" name="year" size="5" pattern="[1-9][0-9]{0,3}" required />
    </p>
    <p>
      Arvosana elokuvasta (1-10): <br />
      <input type="text" name="grade" size="1" pattern="[1-9]|10" required />
    </p>
    <p>
      Suositusteksti: <br />
      <textarea name="recommendation" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    {% for class in classes %}
    <p>
      {{ class }} <br />
      <select name="classes">
        <option value="">(valitse)</option>
      {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="submit" value="Luo suositus" />
  </form>
  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>
</body>

</html>
