{% extends "layout.html" %}

{% block title %}Rekisteröinti{% endblock %}


{% block content %}
<h2>Luo tunnus</h2>

<div class="register-box">
  <form action="/create_user" method="post">
    <div class="form-group">
      <label for="username">Tunnus:</label>
      <input type="text" name="username" id="username" required />
    </div>

    <div class="form-group">
      <label for="password1">Salasana:</label>
      <input type="password" name="password1" id="password1" required />
    </div>

    <div class="form-group">
      <label for="password2">Salasana uudestaan:</label>
      <input type="password" name="password2" id="password2" required />
    </div>

    <input type="submit" value="Luo tunnus" class="register-button" />

    <p class="login-link">
      Onko sinulla jo tunnus?
      <a href="/login">Kirjaudu sisään</a>
    </p>
  </form>
</div>
{% endblock %}
