{% extends "layout.html" %}

{% block title %}Elokuvan poisto{% endblock %}


{% block content %}
<div class="movie-form">
  <h2>Poista elokuva: {{ movie.title }}</h2>
  <h4>Haluatko varmasti poistaa tämän elokuvan?</h4>
  <form action="/remove_movie/{{ movie.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" value="Poista elokuva">
  </form>

  <p class="back-link">
    <a href="/movie/{{ movie.id }}">Takaisin elokuvaan</a>
  </p>
</div>


{% endblock %}
