<!DOCTYPE html>
<html>

<head>
  <title>{{ movie.title }}</title>
</head>

<body>
  <h1>{{ movie.title }}</h1>

  {% if session.user_id == movie.user_id %}
  <p>
    <a href="/edit_movie/{{ movie.id }}">Muokkaa<a/>
    <a href="/remove_movie/{{ movie.id }}">Poista<a/>
  </p>
  {% endif %}
  <p>
    Julkaisuvuosi: {{ movie.year }}
  </p>
  <p>
    Arvosana: {{ movie.grade }}
  </p>
  <p>
    Suositus:
    {{ movie.recommendation }}
  </p>
  <p>
    Suosittelija: <a href="/user/{{ movie.user_id }}">{{ movie.username }}</a>
  </p>
  {% if classes %}
  <p>
    Luokat:
    <ul>
    {% for class in classes %}
    <li>{{ class.title }}: {{ class.value }}</li>
    {% endfor %}
    </ul>
  </p>
  {% endif %}
  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>
</body>

</html>
