{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}


{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>


{% if items %}
  {% if items | count == 1 %}
    <p>Käyttäjällä on yhteensä 1 elokuvasuositus.</p>
  {% else %}
    <p>Käyttäjällä on yhteensä {{ items | count }} elokuvasuositusta.</p>
  {% endif %}

  <h3>Elokuvasuositukset</h3>
  <ul>
    {% for item in items %}
      <li><a href="/movie/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>Käyttäjällä ei ole vielä elokuvasuosituksia.</p>
{% endif %}
</p>
{% endblock %}
